<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img style="margin-top: 60px;margin-left: 400px;" src="/image/cart empty.avif" >
    <h  style="color: red;">CART EMPTY</h>
</body>
</html>