<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doc</title>

<style>
   .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.box {
  padding: 0px;
  box-sizing: border-box;
  margin-top: 120px;
  width: 400%;
}

.box1 {
  background-color: rgba(226, 232, 235, 0.858);
  

 
}

:root {
   
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}

.box2 {
  /* background-color: lightgreen; */
  margin-left: 0px;
  width: 100%;
}


.containerthree { display: flex; 
    justify-content: space-between; 
margin-top: -110px;

}


.containerlast { display: flex; 
    justify-content: space-between; 
margin-top: -110px;

}
.boxlast{
  text-align: center;
}


box { 
    width: 30%; 
    border: 1px solid black;
     padding: 20px; 
     box-sizing: border-box;
 } 


 .full-width { width: 100%;
    margin-top: 150px;
    height: 200px;
     background-color: rgba(246, 246, 246, 0.896);
     }


footer {
    width: 100%;
    background: var(--black);
}

.footer-container .content_1 img {
    height: 25px;
    width: 180px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;


   
}

.footer-container h4 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-size: 18px;
}

.footer-container a {
    display: block;
    text-decoration: none;
    color: var(--grey);
    margin-bottom: 15px;
    font-size: 14px;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
    color: var(--grey);
    margin: 25px 0;
    font-size: 14px;
    
}

.footer-container .content_4 input[type="email"] {
    background-color: var(--black);
    border: none;
    color: var(--white);
    outline: none;
    padding: 9px 0;
   
}

.footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .content_4 .bx {
    color: var(--white);
}

.f-design {
    width: 100%;
    color: var(--white);
    text-align: center;
    
}

.f-design .f-design-txt {
    border-top: 1px solid var(--grey);
border-right: 50px;    font-size: 12px;
    color: var(--grey);
  text-align: center;
  display: flex;
  position: relative;
  left: 10px;
}


/* //........ contact ...... // */
.lastformat{
    height: 250px  ;
    width: 500px
    background-color rgba(246, 246, 246, 0.896);
   

}
.lastform{
    margin-left: 400px;
    margin-top: 10px;
    height: 40px;
    width: 400px;
}

/* //....... Media Queries .......// */

@media (max-width: 500px) {
    .head {
        display: none;
    }
    .top-txt .head p,
    .top-txt .head a {
        font-size: 10px;
    }
    .home_txt h2,
    .home_txt .home_label p {
        display: none;
    }
    .home_txt {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 12px;
    }
    .home_txt button {
        padding: 7px 7px;
        font-size: 10px;
    }
    .home_txt i {
        display: none;
    }
    .home_txt .home_social_icons {
        /* display: flex; */
        display: none;
    }
    .menu-items {
        margin-right: 0;
    }
    .best-seller {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .l-news {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .l-news .l-news1,
    .l-news .l-news2 {
        margin-bottom: 200px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container .content_1 {
        margin-bottom: 30px;
    }
    .best-seller img {
        padding-top: 40px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .head {
        display: none;
    }
    .top-txt .head p,
    .top-txt .head a {
        font-size: 10px;
    }
    .home_txt h2,
    .home_txt .home_label p {
        display: none;
    }
    .home_txt {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 12px;
    }
    .home_txt button {
        padding: 7px 7px;
        font-size: 10px;
    }
    .home_txt i {
        display: none;
    }
    .home_txt .home_social_icons {
        /* display: flex; */
        display: none;
    }
    .menu-items {
        margin-right: 0;
    }
    .best-seller {
        display: flex;
        flex-direction: column;
    }
    .l-news {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .l-news .l-news1,
    .l-news .l-news2 {
        margin-bottom: 200px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container .content_1 {
        margin-bottom: 30px;
    }
    .best-seller img {
        padding-top: 40px;
    }
}

@media(orientation: landscape) and (max-height: 500px) {
    .header {
        height: 90vmax;
    }
}


/* //....... Media Queries For Contact .......// */

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

.nav-linkic {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
  
}

.nav-linkic img {
  width: 20px; /* Adjust the width of the icons as needed */
  height: 40px; /* Adjust the height of the icons as needed */
  display: block;
  margin: 0 auto;
  
}



</style>

</head>
<body>
 
    <footer style="height: 300px;">
        <div class="footer-container container-fluid   p-4">
            <div class="content_1" style="position: relative;top: 20px;">
                <!-- <img style="background-color: white;width: 30px;height: 30px;" src="/image/dice.png"> -->
                <h style="color: white;"><mark  style="background-color:var(--grey);">R-MENS</mark></h> 
                <p>The customer is at the heart of our<br>unique business model, which includes<br>design.</p>
                <img src="https://i.postimg.cc/Nj9dgJ98/cards.png" alt="cards">
            </div>
            <div class="content_2">
                <h4>CUSTOMER SERVICE </h4>
                <a href="#sellers">Delivery information</a>
                <a href="#sellers">Return and Exchange</a>
                <a href="#sellers">Contact Us</a>
                <a href="#sellers">FAQS</a>
            </div>





            <div  style="float: right;"   class="content_3">
                <h4>R MENS PRODUCTS</h4>
                <a href="./contact.html">FORMAL SHIRTS</a>
                <a href="https://payment-method-sb.netlify.app/" target="_blank"> PREMIUM SUITS</a>
                <a href="https://delivery-status-sb.netlify.app/" target="_blank">TROUSERS</a>
                <a href="https://codepen.io/sandeshbodake/full/Jexxrv" target="_blank">CLOTHING</a>
            </div>



            <div class="content_4" style="position: relative;right: 20px;">
                <h4>FOLLOW US</h4>
                <p>Be the first to know about new<br>arrivals, look books, sales & promos!</p>
        
                <div class="f-mail" style="position: relative;left: 10px;">
                    <input type="email" placeholder="Your Email">
                    <!-- <i class='bx bx-envelope'></i> -->
                </div>
                <hr>
            </div>
        </div>
        <div class="f-design">
            <div class="f-design-txt container">
                <p  style="margin-left: 500px;margin-top: 10px;">2024 R-MENS BUSINESS LTD  </p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/3da5cff3a5.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>